html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav {
    margin-bottom: 60px;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.europe:hover {
    transform: scale(1.1);
}

.northamerica:hover {
    transform: scale(1.1);
}

.southamerica:hover {
    transform: scale(1.1);
}

.africa:hover {
    transform: scale(1.1);  
}

.asia:hover {
    transform: scale(1.1);
}

.australia:hover {
    transform: scale(1.1);   
}

.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100px;
    box-shadow:  0 0 80px lightgreen;
    border-radius: 6px;
    border-width: thick 1px;
    border-style: solid;
    border-color: white;
    background: transparent;;
}

.chartWrapper .chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background:lightgreen;
}

footer p {
    margin-top: 50px;
    font-size: 10px;
    opacity: .5;
}
