body{
    background-image: url(bg2.png);
}

#karte {
    position: absolute;
}

.wrapper {
    margin: auto;
    margin-top: 160px;
    margin-left: 420px;
}


.video{
    position: absolute;
    text-align: center;
    left: 43.5%;
    bottom: 8%;
}

.bow{

    position: absolute;
     text-align: center;
     top: 76.5%;
     right: 0%; 
 }