body{
    background-image: url(bg2.png);
}

#karte{
    position: absolute;
}

.wrapper {
    position: absolute;
    margin: auto;
    margin-top: 160px;
    margin-left: 420px;
}

h1 {
    position: absolute;
    font-style: italic;
    color: white;
    font-family: initial;
    top: 180px;
    left: 500px;
}

form { 
    position: absolute;
   padding: 252px 525px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-style: arial;
    font-size: 20px;
}
