body {
    background-image: url(bg2.png);
}

#karte{
    position: absolute;
}

.img {
    margin: auto;
    margin-top: 160px;
    margin-left: 420px;
}

p {
    font-family: initial;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 30%;
    left: 55%;
}

.muschel1 {
    width: 70px;
    height: 65px;
    background: url("muschel.png") no-repeat;
    right: 25%;
    top: 75%;
    position: absolute;
    display: inline-block;
}

.muschel1:hover {
    background: url("muschel_perle.png");
}

.muschel2 {
    width: 70px;
    height: 65px;
    background: url("muschel.png") no-repeat;
    right: 40%;
    top: 55%;
    position: absolute;
    display: inline-block;
}

.muschel2:hover {
    background: url("muschel_perle.png");
}

.muschel3 {
    width: 70px;
    height: 65px;
    background: url("muschel.png") no-repeat;
    right: 20%;
    top: 55%;
    position: absolute;
    display: inline-block;
}

.muschel3:hover {
    background: url("muschel_perle.png");
}