body {
    background-image: url(bg.png);
}
#karte {
    position: absolute;
    text-align: center;
}

img {
    margin: auto;
    margin-top: 160px;
    margin-left: 420px;
}

.shell {
    position: absolute;
    top: 52%;
    left: -3%;
}

.penguin {
    position:absolute;
    right: -5%;
    top: 43%;
}

h1 {
    font-style: italic;
    color: white;
    font-family: initial;
    position: absolute;
    top: 34%;
    right: 10%;
}

.Furtwangen {
    font-style: italic;
    color: white;
    font-family: initial;
    position: absolute;
    top: 42%;
    right: 20%; 
}

p {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    top: 53%;
    left: 62%;
}

.main {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
}